@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.manrope-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
 
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7fff6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
 
.profile-container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 420px;
    padding: 30px;
    text-align: center;
}
 
.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #007D6E ;
}
 
.profile-name {
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0;
}
 
.profile-username {
    color: #666;
    font-size: 18px;
    margin-bottom: 25px;
}
 
.profile-username a {
    color: #007D6E ;
    text-decoration: none;
    font-size: 18px;
}
 
.profile-info {
    text-align: left;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 12px;
}
 
.profile-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
 
.profile-info div span {
    font-size: 16px;
}
 
.edit-icon {
    color: #007D6E ;
    cursor: pointer;
    font-size: 16px;
}
 
.submit-button {
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #007D6E;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}
 
.submit-button:hover {
    background: black;
}
 
.consultant-dropdown {
    display: none; /* Initially hide the dropdown */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 200px;
}
 
.consultant-dropdown:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
 