* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #e7fff6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.form-section {
    padding: 40px;
    width: 50%;
     background-color: #649b8d;
    color: white;
}

.form-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.form-section p {
    margin-bottom: 20px;
}

.form-section p a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

.form-section p a:hover {
    text-decoration: underline;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.form-section .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: green;
}

.form-section button {
    padding: 10px;
    background-color: #bacdc5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: #007D6E;
}

.image-section {
    width: 50%;
    background-color: #649b8d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.image-section .brand {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: white;
    text-align: right;
}

.image-section .brand p {
    margin: 5px 0;
}

.image-section .brand img {
    width: 50px;
    margin-bottom: 10px;
}
