/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.manrope-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
html {
    background-color: #FCF8F4;
}
*{
    margin: 0;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color:#EC744A ;
    padding: 12px 35px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    border:none;
    border-radius: 25px;
}
.text-center{
    text-align: center;
}

/* Nev Styles */
.nav-bar{
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    gap: 15px;
}
.nav-links{
    list-style: none;
    gap: 40px;
}
.nav-links a{
    text-decoration: none;
    color: #000;
}
/* Banner Styles */
.banner{
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}
.banner-img{
    width: 550px;
    height: 450px;
}
.banner-title{
    font-weight: 770;
    font-size: 52px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;

}
.banner-overlay{
    max-width: 1280px;
    margin: 0 auto;
}
.head{
    align-items: center;
    gap: 10px;
}
.type1{
    background-color: #5EB47C;
    padding: 40px;
    color: white;
    width: 426px;
}
.type2{
    background-color: #EC744A;
    padding: 40px;
    color: white;
    width: 426px;
}
.type3{
    background-color: #F5F5F5;
    padding: 40px;
    color:black;
    width: 426px;
}
.type-img1{
    width:40px;
    height: 40px;;
    background-color:#4c9164;
    padding: 10px;
    border-radius: 10px;
}
.type-img2{
    width:40px;
    height: 40px;;
    background-color: #dd691c;
    padding: 10px;
    border-radius: 10px;
}
.type-img3{
    width:40px;
    height: 40px;;
    background-color: #E5E7E4;
    padding: 10px;
    border-radius: 10px;
}
.therapist {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
.therapist3{
    text-decoration: none;
    color: black;
}
.counseling-type p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
}
/* Consultant */
.Consultant{
    margin-top: 30px;
}
.consultants-title{
    font-weight: 700;
    font-size: 40px;
}
.Consultant-content{
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}
.Consultant-content h3{
    font-size: 12px;
    background-color:  #5EB47C;
    color: white;
    padding: 10px;
}
.Consultant-img{
    width: 300px;
    height: 280px;
    gap: 5px;
}
.Consultant-title{
    font-weight: 400;
    font-size: 28px;
    color: white;
    background-color:  #5EB47C;
}
.Consultant1, .Consultant2, .Consultant3, .Consultant4{
    display: flex;
    flex-direction: column;
}
.more{
    align-content: center;
}
.consultant_btn{
    margin-top: 20px;
}

/* OurSelfs Styles */
.about-us{
    margin-bottom: 100px;
    margin-top: 50px;
    background-image: url('../images/design1.png');
    background-repeat: no-repeat;
    background-position: top left 50px;
}
.about-us-content{
    max-width: 1280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.about-us-title{
    font-weight: 700;
    font-size: 40px;
}
.card-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-img{
    width: 90px;
    height: 90px;
}
.card-1{
    border-top: 2px solid #007D6E;
    border-bottom: 2px solid #007D6E;
    border-left: 2px solid #007D6E;
    border-radius: 10px 0 0 10px;
    padding: 40px;
    max-width: 350px;
}
.card-3{
    border-top: 2px solid #5EB47C;
    border-bottom: 2px solid #5EB47C;
    border-right: 2px solid #5EB47C;
    border-radius: 0 10px 10px 0;
    padding: 40px;
    max-width: 350px;
}
.card-2{
    background: linear-gradient(to left, #007D6E, #5EB47C );
    padding: 40px;
    border-radius: 10px;
    height: 350px;
    align-content: center;
    color: white;
}

/* Footer Styles */
.footer-logo{
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;

}
footer{
    background: linear-gradient(to left, #007D6E, #5EB47C ); 
   
}
.logo-footer{
    width: 50px;
    height: 50px; 
}
.footer-container{
    color: white;
    display: flex;
    max-width: 1280px;
    align-items: center;  
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
}
.footer-description{
    max-width: 350px;
    color: white;
}
.about-us{
    padding-top: 40px;
}

