body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
html {
    background-color: #FCF8F4;
}
*{
    margin: 0;
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color:#EC744A ;
    padding: 12px 35px;
    font-weight: 700;
    font-size: 15px;
    color: white;
    border:none;
    border-radius: 25px;
}
.text-center{
    text-align: center;
}

/* Nev Styles */
.nav-bar{
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    gap: 15px;
}
.nav-links{
    list-style: none;
    gap: 40px;
}
.nav-links a{
    text-decoration: none;
    color: white;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding-bottom: 20px;
}
.search-filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.search-bar, .filter, .btn-search {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar {
    width: 300px;
}
.btn-search {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.therapist-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.therapist-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 250px;
}
.therapist-card h2 {
    color: #333231;
    margin-top: 5px;
}
.therapist-card p {
    margin: 10px 0;
}
.therapist-img {
    width: 220px;
    border-radius: 50%;
    border: 2px solid #4CAF50;
}
.btn-book {
    background-color: #ff5722;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer-logo{
    display: flex;
    gap: 15px;
    color: white;
    align-items: center;

}
footer{
    background: #222; 
}
.logo-footer{
    width: 50px;
    height: 50px; 
}
.footer-container{
    display: flex;
    max-width: 1280px;
    align-items: center;  
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 20px;
    color: white;
}
.footer-description{
    max-width: 350px;
    color: white;
}