*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:#e7fff6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.illustration {
    background-color: #636fa1;
    background: linear-gradient(to left, #007D6E, #5EB47C );
    padding: 20px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration img {
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}

.illustration h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.illustration p {
    font-size: 14px;
    opacity: 0.8;
}

.form-container {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.form-container p {
    margin-bottom: 20px;
    color: #666666;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555555;
}

form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    background-color:#bacdc5;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #007D6E;
}

form p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

form p a {
    color: #636fa1;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

.illustration {
    position: relative;
}

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4CAF50;  /* Green color */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.back-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}